body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  background-color: white;
}

.img img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.nav-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  align-items: center;
  font-size: 18px;
}

.nav-menu button {
  border-radius: 20px;
  background-color: #fec107;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

#toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
  }

  .nav-menu li,
  .nav-menu button {
    color: white;
    margin: 10px 0;
    width: 100%;
    text-align: left;
  }

  .nav-menu button {
    background-color: #fc036b;
  }

  #toggle:checked ~ .nav-menu {
    display: flex;
  }
}
