body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 10px;
  border: #f0f0f0 10px solid;
  border-radius: 2px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.data {
  margin-bottom: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.blue {
  font-weight: 800;
  color: #00aaff;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(35, 32, 32);
}
.para {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}
img {
  padding: 5px;
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
